.ios {
  background-image: url('/assets/backgrounds/ios-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.template {
  background-image: url('/assets/backgrounds/template.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center center;
  position: absolute;
  top: 0;
  opacity: 50%;
  z-index: 20;
}
